/* Footer styles */
footer {
    text-align: center;
    position: sticky;
    padding: 20px;
    background-color: #3245f1;
    color: white;
}

footer a {
    color: #5fbcee;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: white;
}